<% render "devise/shared/links" %>
<% content_for :css do %>
    <style type="text/css">
      /*#login {*/
          /*opacity: 0.85;*/
      /*}*/
    </style>
<% end %>
<div class="aa">
  <div class="ui dimmer visible active">
    <div class="content">
      <div class="center">
        <div class="ui form segment  " style="width: 35%;margin-left: auto;margin-right: auto;" id="login">
          <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
              <div class="field">
                <%= f.label '用户名' %>
                <div class="ui left labeled icon input">
                  <%= f.text_field :name, :autofocus => true ,:placeholder => '用户名'%>
                  <i class="user icon"></i>
                  <div class="ui corner label">
                    <i class="icon asterisk"></i>
                  </div>
                </div>
              </div>
              <div class="field">
                <%= f.label '密码' %>
                <div class="ui left labeled icon input">
                  <%= f.password_field :password %>
                  <i class="lock icon"></i>
                  <div class="ui corner label">
                    <i class="icon asterisk"></i>
                  </div>
                </div>
              </div>
              <div class="ui toggle checkbox">
                <% if devise_mapping.rememberable? -%>
                    <%= f.check_box :remember_me %>
                    <%= f.label '记住我' %>
                <% end -%>
              </div>
              <%= f.submit "提交" ,:class => 'ui blue submit button' %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
  <img src="<%= image_path '333.jpg' %>" style="position: absolute;top: 0;left:0;width:auto"></div>
<script type="text/javascript">
  $(function(){

      $('#new_user').addClass('ui transition hidden').transition('fade up');

      $('.ui.form')
              .form(
              {
                  username: {
                      identifier : 'user[name]',
                      rules: [
                          {
                              type   : 'empty',
                              prompt : '请输入用户名'
                          }
                      ]
                  },
                  password: {
                      identifier : 'user[password]',
                      rules: [
                          {
                              type   : 'empty',
                              prompt : '密码不为空'
                          },
                          {
                              type   : 'length[6]',
                              prompt : '密码长度至少4位'
                          }
                      ]
                  }

              },{ inline : true,
                  on     : 'blur'
              });
  })
</script>


