<!DOCTYPE html>
<html>
<head>
  <title>Abc</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style type="text/css">
    div.main.container {
        background:url("<%= image_path('bg.jpg')%>") repeat  ;
    }
  </style>
  <%= yield :css %>
</head>
<body>

<!-- left -->
<div class="ui large vertical inverted labeled icon sidebar menu " id="menu">

  <a class="item" href="/build/semantic.zip">
    <i class="inverted circular red awesome  book icon"></i>
  </a>
  <div class="item">
    <a href="<%= rou_homes_path %>">
      <b>主页</b>
    </a>
    <div class="menu">
      <a class="item" href="/introduction.html">有什么新奇的玩意儿？</a>
    </div>
  </div>
  <div class="item">
    <a href="<%= rou_articles_path %>"><b>文章</b></a>
    <div class="menu">

      <a class="item" href="/modules/reveal.html">Reveal</a>

      <a class="item" href="/elements/divider.html">分隔条</a>

      <a class="item" href="/elements/loader.html">加载控件</a>

      <a class="item" href="/elements/image.html">图像控件</a>
    </div>
  </div>

  <div class="item">
    <a href="<%= rou_categories_path %>"><b>分类目录</b></a>
    <div class="menu">
      <% Category.pluck(:name).each do |name| %>
      <a class="item" href="##"><%= name %></a>
      <% end %>
    </div>
  </div>
</div>

<!-- top  -->
<div class="ui fixed transparent inverted main menu">
  <div class="container">
    <a class="launch item"><i class="icon list layout"></i> 内容</a>
    <div class="title item">
      <b>UI Module:</b> 边栏
    </div>

    <div class="right menu">

      <a class="popup icon github item" title="查看Semantic UI在Github的项目信息" href="https://github.com/quirkyinc/semantic">
        <i class="icon github"></i>
      </a>
      <div class="title item">
        交流群：277950553
      </div>
    </div>
  </div>
</div>
<div class="main container" >
  <div class="ui stacked segment">
  <%= yield %>
   </div>
</div>
<% if flash.present? %>
    <script>
        <% flash.each do |name, msg| %>
        <% next if msg.to_s == 'true' %>
        show<%= if name.to_s == 'notice'; 'Success' else 'Error' end %>("<%= msg %>");
        <% end %>
    </script>
<% end %>

<script type="text/javascript">
//  $('.vertical.sidebar').first().click(function(){
//    $(this).removeClass('active')
//  });

  $('.icon.sidebar').first().sidebar('toggle');
</script>

</body>
</html>
