<!DOCTYPE html>
<html>
<head>
  <title>Abc</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style type="text/css">
    body {
        background:url("<%= image_path('111.png')%>")  ;
    }
  </style>
  <%= yield :css %>
</head>
<body>
<div class="ui red vertical sidebar menu active left">
  <a class="item">
    <i class="home icon"></i>
    主页
  </a>
  <a class="active item">
    <i class="heart icon"></i>
    当前区域
  </a>
  <a class="item">
    <i class="facebook icon"></i>
    Facebook
  </a>
  <div class="item">
    <b>更多</b>
    <div class="menu">
      <a class="item">关于</a>
      <a class="item">联系我们</a>
    </div>
  </div>
</div>
<div class="main container" style="padding-left: 325px">
  <%= yield %>
</div>
<% if flash.present? %>
    <script>
        <% flash.each do |name, msg| %>
        <% next if msg.to_s == 'true' %>
        show<%= if name.to_s == 'notice'; 'Success' else 'Error' end %>("<%= msg %>");
        <% end %>
    </script>
<% end %>

<script type="text/javascript">
//    $('.sidebar').sidebar('toggle');
</script>

</body>
</html>
